@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
  /* cores primarias*/
  --color-Very-Dark-Magenta: hsl(300, 43%, 22%);
  --color-Soft-Pink: hsl(333, 80%, 67%);
  /* cores secundarias*/
  --color-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --color-Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --color-White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(../images/bg-pattern-top-desktop.svg) no-repeat,
    url(../images/bg-pattern-bottom-desktop.svg) no-repeat 600px 200px;
}
main {
  display: flex;
  flex-direction: column;
  height: 585px;
  justify-content: space-between;
}
main .header {
  display: flex;
}
main #title {
  color: var(--color-Very-Dark-Magenta);
}
main #descP {
  color: var(--color-Dark-Grayish-Magenta);
}
/* #region desc*/
main .header .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 540px;
  height: 265px;
}
main .header .desc #title {
  width: 330px;
  font-size: 38px;
}
main .header .desc #descP {
  font-size: 15px;
  text-wrap: ;
  width: 400px;
  height: 65px;
}
/* #endregion */
/* #region review*/
main .header .review {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 570px;
}
main .header .review #box1 {
  align-self: baseline;
}
main .header .review #box2 {
  align-self: center;
}
main .header .review #box3 {
  align-self: flex-end;
}
main .header .review .box {
  font-weight: 700;
  background-color: var(--color-Light-Grayish-Magenta);
  color: var(--color-Very-Dark-Magenta);
  display: flex;
  align-items: center;
  gap: 34px;
  width: 445px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 35px 20px 35px;
}
/* #endregion */
/* #region comments*/
main .comments {
  display: flex;
  justify-content: space-between;
  height: 270px;
}
main .comment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 45px 35px;
  color: var(--color-White);
  width: 350px;
  height: 235px;
  background-color: var(--color-Very-Dark-Magenta);
}
main .comment .profile {
  display: flex;
  gap: 20px;
  align-items: center;
}
main .comment .profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-name h5 {
  color: var(--color-Soft-Pink);
  font-weight: 300;
  font-size: 15px;
}
main .comments #comment1 {
  align-self: baseline;
}
main .comments #comment2 {
  align-self: center;
}
main .comments #comment3 {
  align-self: self-end;
}
/* #endregion */

.attribution {
  display: block;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
